body {
    background-color: #646060;
    background-image: url('/assets/img/b.jpg');
}

img {
    height: 35%;
    width: 35%;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
  
.jumbotron {
    background-color: #DD18DD;
    margin-left: 20%;
    margin-right: 20%;
}
#burger{
    font-size: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border-bottom: none;
    box-shadow:none;
    background-color:snow;
    height: 30px;
    width:200px;
    text-align: center;
    border-radius: 20px;
}
ul {
    color: #FC002A;
    font-size: 40px;
    list-style-image: url('/assets/img/ham.jpeg');
    list-style-position: inside;
    text-align: center;
    font-family: 'Gravitas One', cursive;
}

h1 {
    color: lawngreen;
    font-size: 75px;
    font-family: 'Ewert', cursive;
}
h2 {
    margin: 0 auto;
    padding: 0,0 ;
    max-width: 100%;
    height: 2em;
    text-align: center;
    border-radius: 20px;
    background-color:#676767;
    color: #00FC0D;
    text-decoration: underline;
    font-family: 'Bungee Shade', cursive;
    font-size: 40px;
/* opacity: 0.5; */
    filter: alpha(opacity=50);
}

.form-group {
    color: lawngreen;
    text-align: center;
    font-size: 40px;
    font-family: 'Gravitas One', cursive;
        background-color:#676767;
    border-radius: 20px;
        

}

button {
    font-size: 20px;
    align-content: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Gravitas One', cursive;
}